---
import Layout from "../layouts/Layout.astro";
import Graphs5D from "../components/Graphs5d.astro";

const API_KEY = import.meta.env.PUBLIC_OPENWEATHER_API_KEY;

// Current weather
const response = await fetch(
    `https://api.openweathermap.org/data/2.5/weather?q=växjö&units=metric&appid=${API_KEY}`,
);
const weatherData = await response.json();

const temp = weatherData.main.temp;
const name = weatherData.name;
const descShort = weatherData.weather[0].description;
const pressure = weatherData.main.pressure;
---

<Layout title="Home">
    <h1 class="title has-text-centered py-3 is-1">{name}</h1>
    <hr/>
    <div class="has-text-centered pb-3">
        <img
            src={`http://openweathermap.org/img/wn/${weatherData.weather[0].icon}@2x.png`}
            alt="Weather icon"
        />
    </div>

    <section class="columns is-centered has-text-centered">
        <div class="column is-3 title">{temp}°C</div>
        <div class="column is-3 title">{descShort}</div>
        <div class="column is-3 title">{pressure} hPa</div>
    </section>
    <hr/>

    <Graphs5D/>

    <hr/>


    <script>
    
    </script>
</Layout>

